.form, .form-header, .form-ingreds, .form-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 400px;

}

button {
  border-radius: 5px;
  background-color: var(--main-color);
}

button:hover {
  border-color: var(--focus-color);
  transition: 0.5s;
}

.update-btn {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.submit-btn {
  width: 100px;
  height: 25px;
}