.recipe {
  margin: 50px;
}

h3 {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

.ingredient-container ul {
  display: flex;
  flex-direction: column;
}

.ingredient-container li {
  list-style-type: circle;
}

.recipe img {
  float: right;
  width: 500px;
  height: auto;
}